@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Montserrat !important;
}
a {
  margin: 2px;
  text-decoration: underline;
}

img {
  -webkit-user-drag: none !important;
  user-select: none !important;
}
